[Unit]
Description=Node Exporter

[Service]
ExecStart=/opt/node_exporter/node_exporter
BindReadOnlyPaths=/opt/node_exporter
TimeoutSec=5s
DynamicUser=yes
Restart=on-failure
DevicePolicy=closed
LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateDevices=true
PrivateMounts=true
PrivateTmp=true
PrivateUsers=true
ProtectClock=false
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=strict
RemoveIPC=true
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
SystemCallArchitectures=native
TemporaryFileSystem=/var /etc /media /mnt /opt /srv

[Install]
WantedBy=multi-user.target
