[Unit]
Description=Ping Exporter

[Service]
ExecStart=/opt/ping_exporter/ping_exporter --config.path=/etc/ping_exporter/config.yml
ConfigurationDirectory=ping_exporter
BindReadOnlyPaths=/opt/ping_exporter
TimeoutSec=5s
DynamicUser=yes
Restart=on-failure
AmbientCapabilities=CAP_NET_RAW
DevicePolicy=closed
LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateDevices=true
PrivateMounts=true
PrivateTmp=true
PrivateUsers=false
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=strict
RemoveIPC=true
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
SystemCallArchitectures=native
TemporaryFileSystem=/var /etc /boot /media /mnt /opt /srv

[Install]
WantedBy=multi-user.target