[Unit]
Description=Ping Exporter

[Service]
User=ping_exporter
Group=ping_exporter
ProtectSystem=strict
ProtectHome=true
TimeoutSec=5s
ExecStart=/opt/ping_exporter/ping_exporter --config.path=/etc/ping_exporter/config.yml
AmbientCapabilities=CAP_NET_RAW

[Install]
WantedBy=multi-user.target
