[Unit]
Description=Prometheus Server
Documentation=https://prometheus.io/docs/introduction/overview/
After=network-online.target

[Service]
ExecStart=/opt/prometheus/prometheus --storage.tsdb.path=/var/lib/prometheus --storage.tsdb.retention.time=1d --storage.tsdb.wal-compression --config.file=/etc/prometheus/config.yml
StateDirectory=prometheus
ConfigurationDirectory=prometheus
BindReadOnlyPaths=/opt/prometheus
BindPaths=/var/lib/prometheus
TimeoutSec=10s
DynamicUser=yes
Restart=on-failure
DevicePolicy=closed
LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateDevices=true
PrivateMounts=true
PrivateTmp=true
PrivateUsers=true
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=strict
RemoveIPC=true
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
SystemCallArchitectures=native
TemporaryFileSystem=/var /etc /boot /media /mnt /opt /srv

[Install]
WantedBy=multi-user.target