[Unit]
Description=Prometheus Server
Documentation=https://prometheus.io/docs/introduction/overview/
After=network-online.target

[Service]
User=prometheus
Group=prometheus
Restart=on-failure
ProtectSystem=full
ProtectHome=true
TimeoutSec=10s
WorkingDirectory=/opt/prometheus
ExecStart=/opt/prometheus/prometheus --storage.tsdb.path=/opt/prometheus/data --storage.tsdb.retention.time=1d --config.file="/etc/prometheus/config.yml"

[Install]
WantedBy=multi-user.target
